<div class="delete-modal">
  <div class="delete-modal__header">
    <h2 class="delete-modal__title">Delete contract</h2>
    <button type="button" class="delete-modal__close" (click)="close()" aria-label="Close">&times;</button>
  </div>
  <div class="delete-modal__body">
    <p class="delete-modal__message">Are you sure you want to delete this contract?</p>
  </div>
  <div class="delete-modal__footer">
    <button type="button" class="delete-modal__btn delete-modal__btn--secondary" (click)="close()">Close</button>
    <button type="button" class="delete-modal__btn delete-modal__btn--danger" (click)="deleteItem()">Delete</button>
  </div>
</div>
